<!-- >p>nav works!</!-- -->
<!-- Rajout des directives routerlink et RouterLinkActive pour les 3 liens , apres avoir créé les routes avant -->
<!-- UImod dpoit importer NAVmod pour que les 2 directives marchent -->

<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" routerLink="/prestations" routerLinkActive="active">Prestations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/clients" routerLinkActive="active">Clients</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
  </li>
</ul>
